.upload-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.success {
  color: green;
  margin-top: 15px;
  font-weight: bold;
}
.error {
  color: red;
  margin-top: 15px;
  font-weight: bold;
}
button {
    background-color: #34495e; 
    color: white;
    transition: background-color 0.3s;
}


button:hover:not(:disabled) {
    background-color: #4a637a; 
}


button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}